# Python bytecode
*.egg-info/
__pycache__/
*.egg
*.py[cod]
.coverage

# Virtual environment
.venv/

# Build artifacts
dist/
build/

# macOS
.DS_Store

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
